{% extends 'base.html' %} {% block title %}Add Allowance{% endblock %} {% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'core:dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'master:allowance_list' %}">Allowances</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add New</li>
    </ol>
</nav>
{% endblock %} {% block content %} {% url 'master:allowance_list' as list_url %} {% include 'master/includes/_form_card.html' with form_title='Add New Allowance' form_icon='bi-plus-circle' cancel_url=list_url submit_label='Save Allowance' %} {% endblock%}